/* Add screen styles below */
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 4px solid black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  max-height: 60px;
  max-width: 280px;
}

nav {
  max-width: 100%;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
  width: auto;
}

nav ul li img {
  max-height: 60px;
  margin-right: 20px;
}

.pickup {
  text-align: center;
  margin: 20px 0;
  font-family: 'Inknut Antiqua';
  font-size: 25px;
}

.slideshow {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto;
}

.productSlides {
  display: none;
  width: auto;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.categories {
  background: linear-gradient(180deg, rgba(141, 80, 11, 0) 0%, rgb(235, 161, 77) 100%);
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid black;
}

.categories h2 {
  color: rgb(76, 53, 13);
  font-family: 'Inkunt Antiqua';
  font-size: 2em;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.item {
  width: 20%;
  margin: 10px;
  text-align: center;
  border: 1px solid rgb(163, 163, 163);
  padding: 15px;
  border-radius: 5%;
}

.item img {
  max-width: 100%;
  max-height: 150px;
  height: auto;
}

.itme h3 {
  font-family: sans-serif;
  margin: 10px 0;
}

.item p {
  font-family: 'Inkunt Antiqua';
  font-weight: bold;
  color: black;
}

.item button.addtocart-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  background-color: #F0A32F;
  width: 52px;
  height: 52px;
}

.item button.addtocart-button img {
  max-width: 50px;
  max-height: 50px;
  border: 2px solid black;
}

.item button:hover {
  background-color: rgb(29, 168, 29);
}

.bottom-line {
  background: linear-gradient(180deg, rgb(235, 161, 77) 0%, rgba(141, 80, 11, 0) 100%);
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
}

.newsletter-sign {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-form label {
  font-family: sans-serif;
  margin-bottom: 10px;
}

.input-field input {
  padding: 8px;
  margin-bottom: 10px;
  width: 180px;
  height: 13px;
}

.input-field button {
  background-color: black;
  font-family: sans-serif;
  color: white;
  width: 80px;
  height: 34px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}

.input-field {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.column1 img {
  max-height: 60px;
  max-width: 280px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.column2 {
  color: rgb(81, 81, 81);
  padding: 10px;
}

.contact {
  text-align: left;
}

.address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.address img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.phone {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.phone img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mail-address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mail-address img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.column3 {
  text-align: right;
  padding: 10px;
}

.accounts {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.accounts img {
  width: 100%;
  height: 100%;
}

.about-us {
  display: flex;
  text-align: left;
  padding: 20px;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  flex: 1;
  margin-right: 60px;
}

.about-us p {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-img {
  justify-content: right;
  background: url(images/shop-outside.jpeg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 500px;
  border-radius: 5%;
}

@media screen and (max-width: 1200px) {
  .about-us {
    flex-direction: column;
  }

  .about-content {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about-img {
    width: 100%;
    height: 500px;
    border-radius: 5%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .column1,.column2,.column3 {
    margin-bottom: 20px;
  }

}
